body {
    position: relative;
    overflow: hidden;
    background-image: url("/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh; /* Change this line */
    margin: 0; /* Add this line to remove default margin */
}

body::before {
    content: ""; /* Add this line */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(22, 13, 13, 0.8); 
    backdrop-filter: blur(8px);
    z-index: -1;
}